<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg" href="./img/favicon.svg"/>
    {%STYLE%}

    <title>404</title>
  </head>
  <body>
    <header>
      <h1 class="banner-content">404 page not found</h1>
      <p class="banner-content">You're a little lost, buddy.</p>
    </header>
    <div class="main-content">
      <h2>How did you even mess up navigating this website?</h2>
      I guess I'll help you out. <a href="index.html">main page</a>
    </div>
  </body>
</html>
