<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap"
      rel="stylesheet"
    />

    {%STYLE%}

    <title>404</title>
  </head>
  <body>
    <header>
      <h1 class="banner-content">404 page not found</h1>
      <p class="banner-content">You're a little lost, buddy.</p>
    </header>
    <div class="main-content">
      Here, I'll help you out. <a href="/">main page</a>
    </div>
  </body>
</html>
