<div class="inner">
    <br>
    <a href="{%ITEM_PATH%}"><h2 class="item-title">{%TITLE%}</h2></a>
    <figure>
        <!-- <a href="{%ITEM_PATH%}"> -->
        <img src="{%PICTURE%}" alt="" />
        <!-- </a> -->
        <figcaption>{%DESCRIPTION%}</figcaption>
    </figure>
</div>
