<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/svg" href="./img/favicon.svg"/>
        <style>
        {%STYLE%}
        </style>

        <title>Blog posts</title>
    </head>
    <body>
        <div>
            <!-- Top banner -->
            <header>
                <h1 class="banner-content">All Blog Posts</h1>
                <p class="banner-content">Just some good content</p>
            </header>
            <div class="main-content">
                <section>
                    <div id="blog">{%POSTS%}</div>
                </section>
            </div>
        </div>
    </body>
</html>
