<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/svg" href="../../../img/favicon.svg"/>
        <style>
        {%STYLE%}
        </style>

        <title>{%TITLE%}</title>
    </head>
    <body>
        <header>
            <h1 class="banner-content">{%TITLE%}</h1>
            <p class="banner-content">{%DESCRIPTION%}</p>
        </header>
        <div class="main-content">f{%MAIN_CONTENT%}</div>
    </body>
</html>
