<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap"
      rel="stylesheet"
    />

    {%STYLE%}

    <title>{%TITLE%}</title>
  </head>
  <body>
    <header>
      <h1 class="banner-content">{%TITLE%}</h1>
      <p class="banner-content">{%DESCRIPTION%}</p>
    </header>
    <div class="main-content">
      <section>f{%MAIN_CONTENT%}</section>
      <p>Gitlab repo: <a href="{%GITLAB_REPO%}">{%GITLAB_REPO%}</a></p>
    </div>
  </body>
</html>
