<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg" href="./img/favicon.svg"/>
    {%STYLE%}

    <title>Projects</title>
  </head>
  <body>
    <div>
      <!-- Top banner -->
      <header>
        <h1 class="banner-content">All Projects</h1>
        <p class="banner-content">Exciting new software</p>
      </header>
      <!-- Javascript renders here -->
      <div class="main-content">
	  <section>
	      <div id="projects">{%PROJECTS%}</div>
	  </section>
      </div>
    </div>
  </body>
</html>
