<style>
  @font-face {
    font-family: Manrope;
    src: url("/fonts/JetBrainsMono-Medium.ttf") format("truetype");
  }

  * {
    background: #282a36;
    color: #f8f8f2;
    font-family: "Manrope", sans-serif;
  }
  span {
    color: white;
    background-color: #44475a;
    font-family: "JetBrains Mono";
  }
  html, body {
    max-width: 100%;
    overflow-x: hidden;          
  }
  body {
    margin: 0;
    padding: 0;
  }
  .main-content{
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*width: 1000px;*/
    width: 60%;
    margin: 0 auto 25px;
  }

  a {
    color: #ff79c6;
  }

  a:hover,
  a:visited,
  a:active {
    color: #50fa7b;
  }
  h2 {
    color: #ff79c6;
    max-width: 700px;
  }

  h3 {
    max-width: 700px;
  }

  .banner-content h1 {
    color: #ff79c6;
    margin: 0;
    text-align: center;
  }

  header {
    padding: 60px;
    text-align: center;
    background: #6272a4;
    color: white;
    font-size: 30px;
  }

  .banner-content {
    text-align: center;
    color: white;
    background: #6272a4;
  }
  banner p{
    padding: 0 30%;
  }
  img {
    width: 600px;
    height: auto;
  }

  figure {
    margin: 0 auto;
    padding: 0 auto;
  }

  .center {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
  }
  @media only screen and (max-width: 767px){
    header h1{
        font-size: 30px;
    }
    header p{
        font-size: 15px;
    }
    .address {
        font-size: 7px;
    }
    span {
        font-size: 10px;
    }
    img {
        width: 300px;
        height: auto;
    }
  }
</style>
