* {
    background: #44475a;
    color: #f8f8f2;
    font-family: 'Poppins', sans-serif;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    background-color: #44475a;
}

section {
    width: 50%;
}

footer {
    width: 100%;
}

a {
    color: #ff79c6;
}

a:hover,
a:visited,
a:active {
    color: #50fa7b;
}

h3 {
    color: #ff79c6;
}

h1 {
    color: #ff79c6;
    text-align: center;
}

header {
    padding: 60px;
    margin: 0px;
    background: #1abc9c;
    font-size: 30px;
}

.banner-content {
    text-align: center;
    color: white;
    background: #1abc9c;
}